# Ignore everything by default
**

# Allow top-level files explicitly
!/main.py
!/.gitignore

# Allow `networks` and `science` but ignore their subdirectories
!/networks
/networks/**

!/science
/science/**

# Ignore all `.csv`, `.png`, and `.txt` files in the top-level directory
/*.csv
/*.png
/*.txt